<div *ngIf="inputGUI" class="main">
@switch (inputGUI.type) {
  @case (TYPES.Box) {
    <div class="box" [ngClass]="{'row': inputGUI.direction === 'row', 'column': inputGUI.direction !== 'row'}">
      <ng-container *ngFor="let child of inputGUI.children">
        <app-gui-comp [inputGUI]="child" class="child-recursion" />
      </ng-container>
    </div>
  }
  @case (TYPES.Checkbox) {
    <div>
      <p-checkbox 
        [(ngModel)]="inputGUI.defaultVal" 
        label="{{ inputGUI.label }}"
        binary="true"
        inputId="{{ inputGUI.varname }}"
      ></p-checkbox>
    </div>
  }
  @case (TYPES.Input) {
    <label>{{ inputGUI.label }}</label>
    <p-inputNumber 
      [(ngModel)]="inputGUI.defaultVal"
    ></p-inputNumber>
  }
  @case (TYPES.Output) {
    <label>{{ inputGUI.label }}</label>
    <p-inputNumber 
      [ngModel]="'None'"
      [disabled]="true"
    ></p-inputNumber>
  }
  @case (TYPES.Radio) {
    <label>{{ inputGUI.label }}</label>
    <div *ngFor="let option of inputGUI.options">
      <p-radioButton 
        name="{{ inputGUI.varname }}"
        [(ngModel)]="inputGUI.defaultVal" 
        [value]="option.value" 
        inputId="{{ option.value }}"
      ></p-radioButton>
      <label for="{{ option.value }}">{{ option.label }}</label>
    </div>
  }
  @case (TYPES.Dropdown) {
    <div>
      <label>{{ inputGUI.label }}</label>
      <p-dropdown 
        [options]="inputGUI.options" 
        [(ngModel)]="inputGUI.defaultVal"
        optionLabel="label" 
        optionValue="value"
      ></p-dropdown>
    </div>
  }

  @default {
    <div>
      <p>Unsupported GUI type: {{ inputGUI }}</p>
    </div>
  }
}
</div>
