.main-div {
  // width: fit-content;
  width: 98%;
  height: fit-content;
  padding-left: 10px;
  display: flex;
  flex-flow: row nowrap;
  // justify-content: space-between;
}

.tabview-custom {
  // width: fit-content;
  // padding: 10px;
  // padding-bottom: 0px;
  
  ::ng-deep .p-tabview-nav-link {
    padding: 10px;
  }
  ::ng-deep .p-tabview-panels {
    display: none;
  }
  ::ng-deep .tab-panel-plus-bttn {  // tab-panel for the plus button
    a {
      padding: 0px;
      padding-bottom: 0px;
      border-bottom: 0px;
      margin-bottom: 0px;
    }
    ::ng-deep .plus-bttn {
      padding: 0px;
      width: 38px;
      height: 38px;
    }
  }
}

.hidden-dropdown {
  // position: fixed;
  position: absolute;
  width: fit-content;
  
  // margin-bottom: -200px;
  ::ng-deep div.ddcustom {  // a 1px border thats tiny and annoying
    border: none;
  }
  ::ng-deep .p-dropdown-trigger {  // hide dropdown
    display: none;
  }
  ::ng-deep .p-dropdown-label {  // hide dropdown
    display: none;
  }
}

.btnConvertNg {
  margin-left: auto;  // in flex container, push to right  https://stackoverflow.com/questions/33924655/position-last-flex-item-at-the-end-of-container
  ::ng-deep .btnConvert {
    font-size: 0.7rem;
    line-height: 15px;
    width: 60px;
    height: 38px;
    padding: 3px 2px;  // make the text centered  https://stackoverflow.com/a/27576899/6173665
  }
}

