<div class="main-div">
<p-tabView
  [(activeIndex)]="ngActiveIndex"
  class="tabview-custom"
  (onClose)="requestTabClose($event.index)"
  [controlClose]="true"
  (activeIndexChange)="activeIndexChange($event)"
  >
  <p-tabPanel 
    *ngFor="let tab of ngTabPanels; index as i" 
    [header]="tab.title" 
    [closable]="!!tab.closable || tab.closable === undefined"
    [selected]="ngActiveIndex === i"
  />

  <!-- plus button -->
  <p-tabPanel headerStyleClass="tab-panel-plus-bttn" [closable]="false" *ngIf="ngDropdownNamed.length > 0">
    <ng-template pTemplate="header">
      <p-button #plusBtn icon="pi pi-plus" (click)="plusButtonClicked()" styleClass="plus-bttn" />
    </ng-template>
  </p-tabPanel>
</p-tabView>

<p-dropdown #dd
  class="hidden-dropdown"
  styleClass="ddcustom"
  [autoOptionFocus]="false"
  [options]="ngDropdownNamed" 
  [(ngModel)]="ngDropdownModel"
  (onChange)="onDropdownChange($event)"
/>
</div>
