<div *ngIf="_inputGUI" class="main">
@switch (_inputGUI.type) {
    @case (TYPES.Box) {
    <div class="box" [ngClass]="{'row': _inputGUI.direction === 'row', 'column': _inputGUI.direction !== 'row'}">
      <ng-container *ngFor="let child of _inputGUI.children; trackBy: ALWAYTRUE">
        <app-gui-comp [inputGUI]="child" class="child-recursion" />
      </ng-container>
    </div>
  }
  @case (TYPES.Checkbox) {
    <p-checkbox 
      label="{{ _inputGUI.label }}"
      [ngModel]="ngVarValue"
      (ngModelChange)="onVarValueChange($event)"
      inputId="{{ _inputGUI.varname }}"
      binary="true"
    ></p-checkbox>
  }
  @case (TYPES.Input) {
    <label>{{ _inputGUI.label }}</label>
    <p-inputNumber
      [ngModel]="ngVarValue"
      (ngModelChange)="onVarValueChange($event)"
      ></p-inputNumber>
  }
  @case (TYPES.Output) {
    <label>{{ _inputGUI.label }}</label>
    <p-inputNumber 
      [disabled]="true"
    ></p-inputNumber>
  }
  @case (TYPES.Radio) {
    <label>{{ _inputGUI.label }}</label>
    <div *ngFor="let option of _inputGUI.options">
      <p-radioButton 
        [ngModel]="ngVarValue"
        (ngModelChange)="onVarValueChange($event)"
        name="{{ _inputGUI.varname }}"
        [value]="option.value" 
        inputId="{{ option.value }}"
      ></p-radioButton>
      <label for="{{ option.value }}">{{ option.label }}</label>
    </div>
  }
  @case (TYPES.Dropdown) {
    <label>{{ _inputGUI.label }}</label>
    <p-dropdown 
      [ngModel]="ngVarValue"
      (ngModelChange)="onVarValueChange($event)"
      [options]="_inputGUI.options" 
      optionLabel="label" 
      optionValue="value"
    ></p-dropdown>
  }
  @default {
    <div>
      <p>Unsupported GUI type: {{ _inputGUI }}</p>
    </div>
  }
}
</div>
