.gui-grandparent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.gui-parent {
  width: fit-content;
  border: 3px solid var(--highlight-bg);
  padding: 15px;
}
