<div class="wrapper">

  <div [ngClass]="{'margin-right-bttn': true, 'hidden-bttn': (sidebarVisible$ | async)}">
    <p-button (onClick)="toggleSidebar()" rounded="true" icon="pi pi-bars" styleclass="w-2rem h-2rem p-0" label=""></p-button>
  </div>

  <p-sidebar [visible]="(sidebarVisible$ | async)!" [modal]="false" class="left-panel" [showCloseIcon]="true"
    (onHide)="toggleSidebar()"
  >
    <ng-template pTemplate="closeicon">
      <i class="pi pi-arrow-left"></i> 
    </ng-template>
    <h3>Sidebar</h3>
    <p>
        Lorem ipsum dolor sit amet...
    </p>
  </p-sidebar>

  <div class="main-content">

    <div [ngClass]="{'shifted': (sidebarVisible$ | async)}"></div>

    <div class="inpout-content">

      <p-tabView [(activeIndex)]="activeIndex" class="tabview-custom" (onClose)="onTabClose($event)" [controlClose]="true">
        <p-tabPanel *ngFor="let tab of scrollableTabs; index as i" [header]="tab.title" [closable]="i > 0" />
      </p-tabView>

      <div class="code-input">
          <textarea 
              rows="20"
              pInputTextarea 
              [(ngModel)]="ngValue"
              (input)="saveInputLocalStorage($event)"
              ></textarea>
      </div>

      <div class="bttn-padding">
        <div class="calculate-bttn">
            <p-button 
            pButton 
            pRipple 
            label="Calculate"
            [ngClass]="{'calculate-bttn': true}"
            (click)="onButtonClick()"></p-button>
        </div>
      </div>

      <div class="code-output">
          <textarea 
              #autoResizeTextarea
              pInputTextarea
              [readOnly]="true"
              [autoResize]="true"
              [ngModel]="ngResponse"></textarea>
      </div>




    </div>

  </div>
</div>

