<div class="main">

  <!-- SIDEBAR -->
  <p-sidebar [visible]="(sidebarVisible$ | async)!" [modal]="false" class="left-panel" [showCloseIcon]="true"
    (onHide)="toggleSidebar()"
  >
    <ng-template pTemplate="closeicon">
      <i class="pi pi-arrow-left"></i> 
    </ng-template>
    <div class="flex flex-column gap-3" style="height: 100%;">
      <div class="sidebar-title">
        <h2>PyDice</h2>
        <h3>Python Dice Probability Calculator</h3>
      </div>
      <p-panel header="About">
          <p class="sidebar-description">
              Welcome to PyDice!
              <br />An implementation of our 
              <a href="https://github.com/Ar-Kareem/PythonDice/" target="_blank" rel="noopener noreferrer" class="p-button p-button-sm font-bold h-1rem" style="text-decoration: none; padding: 3px 2px; vertical-align: middle;">
                PythonDice
              </a>
              project on the browser.
          </p>
      </p-panel>
      <p-panelMenu [model]="SIDEBAR_ITEMS" />
      <span class="font-light text-600 text-center block" style="margin-top: auto; user-select: none;">Version 0.7.5</span>
    </div>

  </p-sidebar>





  <div class="main-content">

    <div [ngClass]="{'shifted': (sidebarVisible$ | async)}"></div>

    <div class="inpout-content">

      <!-- TOGGLE SIDEBAR BUTTON -->
      <div [ngClass]="{'margin-right-bttn': true, 'hidden-bttn': false}">
        <p-button (onClick)="toggleSidebar()" rounded="true" icon="pi pi-bars" styleclass="w-2rem h-2rem p-0" label=""></p-button>
      </div>
      
      <!-- toolbar -->
      <app-tabview />

      <!-- INPUTS -->
      <div *ngFor="let tab of allTabs; let i = index">
        <div class="code-input" [ngClass]="{'myhidediv': selectedTabIndex !== i}" *ngIf="TabsWithInput.includes(tab.title)">
          <textarea
            rows="20"
            pInputTextarea 
            autofocus 
            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
            [ngModel]="ngContentsInput.get(tab.title)"
            (ngModelChange)="onInputChange($event, tab.title)"
            (keydown.tab)="onInputKeyPress($event, 'tab')"
            (keydown.enter)="onInputKeyPress($event, 'enter')"
            (keydown.shift.enter)="onInputKeyPress($event, 'shift-enter')"
            (keydown.control.enter)="onInputKeyPress($event, 'shift-enter')"
            (keydown.control.tab)="onInputKeyPress($event, 'shift-enter')"
          ></textarea>
        </div>
        <!-- GUI SHOW INPUT -->
        <div [ngClass]="{'myhidediv': selectedTabIndex !== i}" *ngIf="tab.title === TabTitles.GUISHOW">
          <app-gui-prod />
        </div>
      </div>

      <!-- LOADING BAR -->
      <p-progressBar *ngIf="isLoading" mode="indeterminate" [style]="{ height: '6px' }" />
      <div *ngIf="!isLoading" [style]="{ height: '6px' }"></div>

      <div class="load-time">
        @let showTime = selectedTab?.title !== TabTitles.GUISHOW && loadExecTime !== undefined;
        <div *ngIf="showTime">{{ loadExecTime | number: '1.0-1' }}s</div>
        <div *ngIf="!showTime">&nbsp;</div>
      </div>

      <!-- OUTPUTS -->
      <app-outputarea [guiXML]="ngContentsInput.get(TabTitles.GUI) || ''"  (onCalculate)="onButtonClick()"/>

    </div>

  </div>
</div>

