.wrapper {  // contains sidebar and main-content
  height: 100vh;
}

.main-content {  // contains button, shifted-div, and inpout-content
    // margin-left: 0px; /* Offset the content to the right of the left panel */
    // padding: 20px;
    width: 100vw;
    background-color: red;
    display: flex;
    flex-direction: row;
}

.shifted {
  margin-left: 265px; /* Margin when sidebar is open */
}

.margin-right-bttn {
  margin-right: 8px;
  margin-left: 8px;
  .hidden {
    display: none;
  }
}


.inpout-content {  // contains code-input and code-output
  display: flex;
  flex-direction: column;
  width: 100%;
  textarea {
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
  }
}


.code-input {
  width: 100%;
  padding: 10px;
  background-color: #f1f1f1;
}

.code-output {
  user-select: none; /* Prevent text selection */
  overflow: hidden; /* Prevent scrollbars */
  resize: none; /* Disable manual resizing */
  width: 100%;
  textarea {
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
  }
}