.wrapper {  // contains sidebar and main-content
  height: 100vh;
}

.main-content {  // contains button, shifted-div, and inpout-content
    // margin-left: 0px; /* Offset the content to the right of the left panel */
    // padding: 20px;
    width: 100vw;
    // slightly different background color
    background-color: #b3c9ff;
    display: flex;
    flex-direction: row;
}

.left-panel {
  background-color: #333;
}

.shifted {
  margin-left: 320px; /* Margin when sidebar is open */
}

.margin-right-bttn {
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 8px;
  &.hidden-bttn {
    display: none;
  }
}


.inpout-content {  // contains code-input and code-output
  display: flex;
  flex-direction: column;
  width: 100%;
}


.code-input {
  width: 100%;
  padding: 10px;
  background-color: #f1f1f1;
  textarea {
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    max-width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
}

.bttn-padding {
  padding: 6px;
  .calculate-bttn {
    padding: 0px;
  }
}


.code-output {
  user-select: none; /* Prevent text selection */
  overflow: hidden; /* Prevent scrollbars */
  resize: none; /* Disable manual resizing */
  width: 100%;
  padding: 10px;
  background-color: #f1f1f1;
  textarea {
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    max-width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
}