.wrapper {  // contains sidebar and main-content
  min-height: 100vh;
  background-color: var(--surface-ground);
}

.main-content {  // contains button, shifted-div, and inpout-content
    width: 100vw;
    display: flex;
    flex-direction: row;
}

p-sidebar {  // sidebar
  &.left-panel {
    ::ng-deep * {
      color: #ffffff;
      background-color: var(--indigo-900);
    }
  }
}

.shifted {  // hidden div to push content
  margin-left: 320px; /* Margin when sidebar is open */
}

.tabview-custom {
  width: fit-content;
  padding: 10px;
  padding-bottom: 0px;
  ::ng-deep .p-tabview-nav-link {
    padding: 10px;
  }
  ::ng-deep .p-tabview-panels {
    display: none;
  }
}

.margin-right-bttn {
  padding-top: 8px;
  padding-left: 8px;
  &.hidden-bttn {
    display: none;
  }
}


.inpout-content {  // contains code-input and code-output
  display: flex;
  flex-direction: column;
  width: 100%;
}


.code-input {
  width: 100%;
  padding-left: 10px;
  // padding-top: 10px;
  // background-color: var(--surface-ground);
  textarea {
    width: 100%;
    padding: 10px;
    // background-color: inherit;
    color: #ffffff;  // text color
    max-width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
}

.bttn-padding {
  padding-left: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  .calculate-bttn {
    padding: 0px;
  }
}


.code-output {
  user-select: none; /* Prevent text selection */
  overflow: hidden; /* Prevent scrollbars */
  resize: none; /* Disable manual resizing */
  width: 100%;
  padding: 10px;
  // background-color: var(--surface-ground);
  textarea {
    width: 100%;
    padding: 10px;
    // background-color: var(--surface-ground);
    max-width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
}