
<div class="calc-div">
  <!-- BUTTON CALCULATE -->
  <div *ngIf="selectedTab?.title !== TabTitles.GUI" [ngClass]="{'bttn-padding': true, 'center-btn': selectedTab?.title === TabTitles.GUISHOW}">
    @let status = (workerStatus$ | async);
    <p-button 
      pRipple 
      [severity]="status !== 'IDLE' ? 'warning' : 'primary'"
      [label]="status === 'IDLE' ? 'Calculate' : (status === 'BUSY' ? 'Calculating...' : 'Initializing...')"
      [ngClass]="{'calculate-bttn': true}"
      (onClick)="onCalculate.emit()"
    />
  </div>

  <!-- DROPDOWN -->
  <div *ngIf="currentDropdownItems.length > 0">
    <p-floatLabel>
      <p-dropdown
      [(ngModel)]="ddNgModel"
      [options]="currentDropdownItems"
      (onChange)="dropdownChange($event.value)"
      />
      <label for="float-label">Display:</label>
    </p-floatLabel>
  </div>


</div>



<!-- OUTPUTS FOR EACH TAB -->
<ng-container *ngFor="let tab of allTabs">

  <div class="code-output" [ngClass]="{'myhidediv': tab.title !== selectedTab?.title}"  *ngIf="!!allResults[tab.title]?.text_response && TabsWithOutput.includes(tab.title)">
    <!-- TEXT OUTPUT -->
    <textarea
    pInputTextarea
    [readOnly]="true"
    [autoResize]="true"
    [ngModel]="allResults[tab.title]?.text_response"
    ></textarea>

    <!-- CHART -->
    <canvas id="chart{{tab.title}}">
      {{allResults[tab.title].chart || ''}}
    </canvas>
  </div>

  <!-- GUI -->
  <div [ngClass]="{'myhidediv': tab.title !== selectedTab?.title}" *ngIf="tab.title === TabTitles.GUI">
    <app-gui-output [inputXML]="guiXML" />
  </div>

</ng-container>

